.container {
    display: inline-grid;
    grid-template-columns: min-content 95%;
    column-gap: 1ch;
}

.copy {
    display: flex;
    align-items: center;
}

.copy button {
    aspect-ratio: 1 / 1;
}

.password {
    display: inline-grid;
    grid-template-columns: min-content auto;
    column-gap: 1ch;
}

.password div {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item {
    padding-right: 5px;
}