.popup {
    position: fixed;
    max-width: 95%;
    max-height: 95%;
    overflow-x: auto;
    overflow-y: auto;
    margin: auto;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}

.grid {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.grid-item {
    padding: 5px;
}

.ignore-grid {
    display: inline-block;
    grid-column: span 2 / auto;
}

.btn-close {
    position: absolute;
    right: 5%;
}
