.passContainer {
    display: inline-grid;
    grid-template-columns: min-content auto;
    column-gap: 1ch;
    width: 100%;
}

.copy {
    display: flex;
    align-items: center;
}

.copy button {
    aspect-ratio: 1 / 1;
}

.passTitle {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
}

.password {
    display: inline-grid;
    grid-template-columns: min-content auto;
    column-gap: 1ch;
}

.password div {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.checkList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.check {
    padding-right: 5px;
}