.grid {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.grid-item {
    padding: 5px;
}

.ignore-grid {
    display: inline-block;
    grid-column: span 2 / auto;
}

.btn-close {
    position: absolute;
    right: 5%;
}
