<div class="popup">
    <Card>
        <CardBody>
            <CardTitle>
                @(IsNew ? "New Password" : "Edit Password")
                <button class="btn-close" @onclick=ExitPressed/>
            </CardTitle>
            <CardText>
                <div class="grid">
                    <div class="grid-item">Name:</div>
                    <div class="grid-item"><InputText @bind-Value=Name placeholder="Website or app..." /></div>

                    <div class="grid-item">Password:</div>
                    <div class="grid-item"><InputText @bind-Value=Password placeholder="The password..." disabled=@IsRandom/></div>

                    <div class="grid-item">Random:</div>
                    <div class="grid-item"><InputCheckbox @bind-Value=IsRandom /></div>

                    @if (IsRandom) {
                        <div class="ignore-grid">
                            <text class="grid-item">ABC: <InputCheckbox @bind-Value=UpperCase /></text>
                            <text class="grid-item">abc: <InputCheckbox @bind-Value=LowerCase /></text>
                            <text class="grid-item">123: <InputCheckbox @bind-Value=Numbers /></text>
                            <text class="grid-item">_: <InputCheckbox @bind-Value=Underscore /></text>
                            <text class="grid-item">!@@#: <InputCheckbox @bind-Value=Special /></text>
                        </div>

                        <div class="grid-item">Exclude:</div>
                        <div class="grid-item"><InputText @bind-Value=Exclude placeholder="Excluded characters..." /></div>

                        <div class="grid-item">Length:</div>
                        <div class="grid-item"><input type="number" step="1" min="5" max="50" pattern="\d+" @bind=Length /></div>
                    }

                    <div class="grid-item"><br />Optional:</div>
                    <div class="grid-item" />

                    <div class="grid-item">Username:</div>
                    <div class="grid-item"><InputText @bind-Value=Username placeholder="The username..." /></div>

                    <div class="grid-item">Url:</div>
                    <div class="grid-item"><InputText @bind-Value=Url placeholder="The website url..." /></div>

                    <div class="grid-item"><button class="btn btn-primary">Submit</button></div>
                </div>
            </CardText>
        </CardBody>
    </Card>
</div>

@code {
    [Parameter]
    public bool IsNew { get; set; }
    [Parameter]
    public Action ExitPressed { get; set; }

    private string Name { get; set; }
    private string Password { get; set; }
    private string Username { get; set; }
    private string Url { get; set; }

    private bool IsRandom { get; set; } = true;
    private bool UpperCase { get; set; } = true;
    private bool LowerCase { get; set; } = true;
    private bool Numbers { get; set; } = true;
    private bool Underscore { get; set; } = true;
    private bool Special { get; set; } = true;
    private string Exclude { get; set; } = "";
    private int Length { get; set; } = 20;

    // TODO: show example password when random is on
}
