@using Microsoft.Maui.ApplicationModel.DataTransfer
@using PassSync.Storage

<div class="container">
    <div class="copy">
        <button class="btn btn-primary" @onclick=CopyPassword>
            <Icon Name=CopyIcon />
        </button>
    </div>
    <Accordion>
        <AccordionItem>
            <TitleTemplate>
                @Password.Name
            </TitleTemplate>
            <Content>
                <div class="password">
                    Current:
                    <div>@Password.Text</div>
                </div>
                <div>
                    @if (!string.IsNullOrEmpty(Password.Username)) {
                        <text>
                            <text class="item">Username: @Password.Username</text>
                        </text>
                    }
                    @if (!string.IsNullOrEmpty(Password.Url)) {
                        <text>
                            <text>Website: @Password.Url</text>
                        </text>
                    }
                </div>
                <div class="ignore-grid">
                    <text class="item">ABC: <InputCheckbox @bind-Value=UpperCase /></text>
                    <text class="item">abc: <InputCheckbox @bind-Value=LowerCase /></text>
                    <text class="item">123: <InputCheckbox @bind-Value=Numbers /></text>
                    <text class="item">_: <InputCheckbox @bind-Value=Underscore /></text>
                    <text>!@@#: <InputCheckbox @bind-Value=Special /></text>
                </div>
            </Content>
        </AccordionItem>
    </Accordion>
</div>

@code {
    [Parameter]
    public Password Password { get; set; }

    // Used to bypass the interactability of the checkboxes without disabled appearance
    private bool UpperCase { get => Password.UpperCase; set { } }
    private bool LowerCase { get => Password.LowerCase; set { } }
    private bool Numbers { get => Password.Numbers; set { } }
    private bool Underscore { get => Password.Underscore; set { } }
    private bool Special { get => Password.Special; set { } }

    private IconName CopyIcon { get; set; } = IconName.Copy;

    private async void CopyPassword() {
        await Clipboard.SetTextAsync(Password.Text);

        CopyIcon = IconName.CheckLg;
        await Task.Delay(1000);
        CopyIcon = IconName.Copy;
        StateHasChanged();
    }
}
