@page "/"
@using PassSync.Components.Components
@using PassSync.Storage

<div class="container">
    <div class="passwordContainer">
        @foreach(Password password in PasswordManager.GetAll()) {
            <div class="passDisp">
                <PasswordDisplay Password=password StateChanged=StateHasChanged />
            </div>
        }
    </div>

    <div>
        <button class="btn btn-primary add-new" @onclick=StartAddNewPassword>
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>
</div>

<Modal @ref=PasswordMaker IsVerticallyCentered=true />

@code {
    private Modal PasswordMaker { get; set; }

    private async void StartAddNewPassword() {
        Dictionary<string, object> parameters = new() { ["SubmitPressed"] = EventCallback.Factory.Create<Password>(this, SubmitAddNewPassword) };
        await PasswordMaker.ShowAsync<PasswordMaker>(title: "New Password", parameters: parameters);
    }

    private async void SubmitAddNewPassword(Password newPassword) {
        PasswordManager.Add(newPassword);
        await PasswordMaker.HideAsync();
    }
}
