@page "/sync"
@implements IDisposable
@using Button = BlazorBootstrap.Button
@using InTheHand.Bluetooth
@using InTheHand.Net.Bluetooth
@using InTheHand.Net.Sockets
@using Microsoft.Maui.ApplicationModel
@using Microsoft.Maui.Controls
@using System.IO
@using System.Net.Sockets
@using PassSync.Components.Components
@using PassSync.Storage

@if (!HasBluetoothPermission) {
    <p>Please enable bluetooth and fine location for this app in settings.</p>
}

@if (!IsBluetoothOn) {
    <p>Please enable bluetooth.</p>
}

@if (HasBluetoothPermission && IsBluetoothOn) {
    if (ConnectedDevice is null) {
        <div class="noConnectionDiv">
            <Button Color=ButtonColor.Primary @onclick=ConnectToDevice>Connect to Device</Button>
            Choose a device to sync with
        </div>
    }
    else {
        <div class="connectionDiv">
            <div class="deviceCard">
                <Card>
                    <CardHeader>
                        Device Connected
                    </CardHeader>
                    <CardBody>
                        <div>Name: @ConnectedDevice.DeviceName</div>
                        <div>Address: @ConnectedDevice.DeviceAddress</div>
                        <div>Type: @ConnectedDevice.ClassOfDevice.MajorDevice</div>
                        <div class="syncBtn"><Button Color=ButtonColor.Primary @onclick=StartSync>Sync</Button></div>
                    </CardBody>
                </Card>
            </div>
        </div>
    }
}
else {
    <p>A bluetooth connection and fine location is needed to find devices and sync passwords across them.</p>
}

<Modal @ref=StatusModal IsVerticallyCentered=true UseStaticBackdrop=ShouldNotInterrupt() ShowCloseButton=false>
    <BodyTemplate>
        @switch (Status) {
            case TransferStatus.AttemptingClient:
                <text>Attempting as client</text>
                <Spinner />
                break;
            case TransferStatus.Listening:
                <text>Waiting for other device</text>
                <Spinner />
                break;
            case TransferStatus.UserPrompt:
                <text>Choose which device to take from</text>
                break;
            case TransferStatus.IsClient:
                <text>Waiting for input on other device</text>
                <Spinner />
                break;
            case TransferStatus.Transferring:
                <text>Making sync transfer</text>
                <Spinner />
                break;
            case TransferStatus.Conflict:
                <text>Which version will you keep?</text>
                <div>
                    This:
                    <PasswordDisplay Password=ConflictHost IsConflict=true />
                </div>
                <div>
                    Other:
                    <PasswordDisplay Password=ConflictClient IsConflict=true />
                </div>
                break;
            case TransferStatus.Confirm:
                <text>Changes will make affect now</text>
                break;
            default:
                <text>Unknown State</text>
                break;
        }
    </BodyTemplate>
    <FooterTemplate>
        @switch (Status) {
            case TransferStatus.AttemptingClient:
                break;
            case TransferStatus.Listening:
                <Button Color=ButtonColor.Primary>Cancel</Button>
                break;
            case TransferStatus.UserPrompt:
                <Button Color=ButtonColor.Primary>This</Button>
                <Button Color=ButtonColor.Primary>Other</Button>
                break;
            case TransferStatus.IsClient:
                break;
            case TransferStatus.Transferring:
                break;
            case TransferStatus.Conflict:
                <Button Color=ButtonColor.Primary>This</Button>
                <Button Color=ButtonColor.Primary>Other</Button>
                break;
            case TransferStatus.Confirm:
                <Button Color=ButtonColor.Secondary>Cancel</Button>
                <Button Color=ButtonColor.Primary>Confirm</Button>
                break;
            default:
                <Button Color=ButtonColor.Primary @onclick=StatusModal.HideAsync>Close</Button>
                break;
        }
    </FooterTemplate>
</Modal>

@code {
    private static readonly Guid AppGuid = new("{601CAE8F-89B7-47C1-A97E-981E6C3F69FF}");

    private bool HasBluetoothPermission { get; set; } = false;
    private bool IsBluetoothOn { get; set; } = false;

    private BluetoothDeviceInfo ConnectedDevice { get; set; } = null;
    private string Message { get; set; }

    private Modal StatusModal { get; set; }
    private TransferStatus Status { get; set; }
    private Password ConflictHost { get; set; }
    private Password ConflictClient { get; set; }

    protected override async Task OnInitializedAsync() {
        HasBluetoothPermission = await AskPermission();

        if (!HasBluetoothPermission)
            return;

        IsBluetoothOn = await Bluetooth.GetAvailabilityAsync();
        Bluetooth.AvailabilityChanged += OnBluetoothChanged;
    }

    public void Dispose() {
        Bluetooth.AvailabilityChanged -= OnBluetoothChanged;
    }

    private async Task<bool> AskPermission() {
        // this includes all permissions needed here: https://github.com/dotnet-bluetooth-le/dotnet-bluetooth-le?tab=readme-ov-file#android
        PermissionStatus status = await Permissions.CheckStatusAsync<Permissions.Bluetooth>();

        if (status == PermissionStatus.Granted)
            return true;

        if (Permissions.ShouldShowRationale<Permissions.Bluetooth>())
            await Application.Current.MainPage.DisplayAlert("Bluetooth Permission", "Bluetooth is necessary to sync across devices.", "Okay");

        status = await Permissions.RequestAsync<Permissions.Bluetooth>();
        return status == PermissionStatus.Granted;
    }

    private async void OnBluetoothChanged(object s, EventArgs e) {
        IsBluetoothOn = await Bluetooth.GetAvailabilityAsync();

        await InvokeAsync(StateHasChanged);
    }

    private async Task ConnectToDevice() {
        BluetoothDevicePicker devicePicker = new();
        ConnectedDevice = await devicePicker.PickSingleDeviceAsync();
    }

    private async Task StartSync() {
        Status = TransferStatus.AttemptingClient;
        await StatusModal.ShowAsync();

        if (await BeClient())
            return;

        await BeHost();
    }

    private async Task BeHost() {
        Status = TransferStatus.Listening;
        await InvokeAsync(StateHasChanged);
        try {
            using BluetoothListener listener = new(AppGuid);
            listener.Start();

            BluetoothClient client = null;
            // awesome, pending doesn't work on android whoo!, source: https://github.com/inthehand/32feet/issues/337#issuecomment-1706223549
            if (!OperatingSystem.IsAndroid()) {
                while (!listener.Pending())
                    await Task.Delay(25);
                client = listener.AcceptBluetoothClient();
            }
            else {
                bool isAccepted = false;
                _ = Task.Run(() =>
                {
                    client = listener.AcceptBluetoothClient();
                    isAccepted = true;
                });
                while (!isAccepted)
                    await Task.Delay(25);
            }

            Status = TransferStatus.UserPrompt;

            using Stream stream = client.GetStream();

            BinaryWriter writer = new(stream);
            writer.Write("Host: Hello World!");
            writer.Flush();

            BinaryReader reader = new(stream);
            Message = reader.ReadString();
            await InvokeAsync(StateHasChanged);

            writer.Close();
            reader.Close();
        } catch (Exception e) {
            await Application.Current.MainPage.DisplayAlert(null, e.ToString(), "Okay");
        }
    }

    private async Task<bool> BeClient() {
        try {
            using BluetoothClient client = new();
            await client.ConnectAsync(ConnectedDevice.DeviceAddress, AppGuid);

            if (!client.Connected)
                return false;

            Status = TransferStatus.IsClient;
            await InvokeAsync(StateHasChanged);

            using Stream stream = client.GetStream();

            BinaryReader reader = new(stream);
            Message = reader.ReadString();
            await InvokeAsync(StateHasChanged);

            BinaryWriter writer = new(stream);
            writer.Write("Client: Hello World!");
            writer.Flush();

            writer.Close();
            reader.Close();

            return true;
        } catch (ArgumentOutOfRangeException) {
            // Bluetooth service was not found
        } catch (Exception e) {
            await Application.Current.MainPage.DisplayAlert(null, e.ToString(), "Okay");
        }

        return false;
    }

    private bool ShouldNotInterrupt() {
        return (Status & (TransferStatus.AttemptingClient | TransferStatus.IsClient | TransferStatus.Transferring | TransferStatus.Conflict)) != 0;
    }

    private enum TransferStatus {
        AttemptingClient,
        Listening,
        UserPrompt,
        IsClient,
        Transferring,
        Conflict,
        Confirm
    }
}
